@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    position: relative;
    color: #fff;
    font-family: "Sevillana", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo-do-site{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
}

h1{
    z-index: 222;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: 200;
    margin-top: 25px;
}

figure{
    width: 700px;
    z-index: 222;
    position: absolute;
    top: 183px;
    left: 500px;
}

#lampada{
    border: solid blue;
    width: 60%;
}

#btn{
    position: absolute;
    z-index: 222;
    bottom: 90px;
    border: none;
    background-color: #007BFF;
    border-radius: 50px;
    padding: 15px 100px;
}